.laptop-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-top: 70px;
  gap: 250px;
  margin-left: 250px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 750px;
}

.headings {
  margin-top: 80px;
  display: grid;
  justify-content: center;
  text-align: center;
}

.headings-space {
  margin-bottom: 2rem;
}

@media (max-width: 510px) {
  .laptop-details {
    gap: 50px;
  }
}

.table{
  width: 20px;
}
