.App {
  font-family: "Poppins", sans-serif;
}

.laptop-content-container {
  padding: 16px;
}

.laptop-container {
  width: 340px;
  border: 1px solid #ccc;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.laptop-brand {
  height: 300px;
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
}


.laptop-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  max-width: 95%;
}


.laptop-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.laptop-model {
  font-size: 24px;
  margin: 0;
}

.laptop-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 32px;
  margin-top: 50px;
}

.search-model {
  border: 1px solid;
  border-radius: 10px;
  font-size: 16px;
  height: 4vh;
  width: 500px;
}

.view-btn {
  all:unset;
  font-size: 20px;
  margin-top: 0;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
  max-width: 50%;
  background-color: #e0e0e0;
}

.view-btn-container {
  margin-top: 20px;
}

.update-icon {
  display: flex;
  justify-content: right;

}

.quote-btn {
  font-size: 20px;
  margin-top: 0;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  max-width: 100%;
  /* background: linear-gradient(to right, #e6f5ff, #b0e0e6); */
}

.quote-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-color: black;
}

.search-filter {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  gap: 300px;
  margin-left: 330px;
}

.search-model-container {
  display: flex;
  justify-content: center;
}
.search-filter-container {
  margin-left: 100px;
}

.delete-icon{
    display: flex;
    justify-content: left;
}

.update-delete{
  display: flex;
  justify-content: column;
  justify-items: start;
  margin-right: 200px;
  gap: 20px;
  margin-bottom: 20px;
}

.laptop-details{
  margin-bottom: 16px;
}

@media (max-width: 2052px) {
  .search-filter{
    margin-left: 400px;
  }
}

@media (max-width: 1676px) {
  .search-filter{
    margin-left: 450px;
  }
}

.specs-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.other-details{
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}
