.new-laptop-container {
  display: grid;
  justify-content: center;
}

.new-laptop-form {
  width: 800px;
   margin-bottom: 100px;
}

.document-layout {
  display: grid;
  margin-left: 12px;
  gap: 10px;
}

.submit-container {
  margin-top: 30px;
}

@media (max-width: 815px) {
  .new-laptop-form {
    width: 500px;
  }
}

@media (max-width: 525px) {
  .new-laptop-form {
    width: 200px;
  }
}
