.App {
  font-family: "Poppins", sans-serif;
}

.laptop-content-container {
  padding: 16px;
}

.laptop-container {
  width: 340px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.laptop-brand {
  height: 300px;
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.laptop-condition {
  font-size: 20px;
  margin-top: 0;
  display: inline-block;
  background: linear-gradient(to right, #a8ff78, #78ffd6);
  color: #2c3e50;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  max-width: 50%;
}

.laptop-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.laptop-model {
  font-size: 24px;
  margin: 0;
}

.laptop-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 32px;
}
